AGENTMAIL_API_KEY=
AGENTMAIL_INBOX_ID=expense-me@agentmail.to
AGENTMAIL_BASE_URL=https://api.agentmail.to
GOTENBERG_URL=
GOTENBERG_BEARER_TOKEN=
GOTENBERG_ACCESS_CLIENT_ID=
GOTENBERG_ACCESS_CLIENT_SECRET=
PORT=8787
